/* styles.css */

/* All of the page */
*{
    padding-top: 50px;
	margin: 0;
	box-sizing: border-box;
	background: rgb(67, 113, 192);
	color: white;
    
}
/* the game box */
.game{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.756);
    

}

/* the title div */
.title{
	position: absolute;
	top: 0;
	font-size: 4rem;
	z-index: 2;
    
}

/* the score board that holds the current score */
.score{
    font-size: 3.5rem;
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	position: absolute;
	top: 70px;
	z-index: 1;

}

.roundsLeft {
    font-size: 2.5rem;
    display: flex;
    width: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 1;

}

/* the current score of each player */
.p-count,.c-count, .t-count{
	text-align: center;
	font-size: 3.5rem;
	margin-top: 1rem;
}

/* the buttons row */
.options{
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}

/* button styling */
.rock, .paper, .scissor{
	padding: 0.8rem;
	width: 150px;
	border-radius: 50px;
	background: rgb(36, 0, 128);
	cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.756);
}
/* the round counter*/
.weapChoice{
	font-size: 2rem;
	font-weight: bold;
    margin-top: 2rem;
    text-align: center;
}

/* the reset button */
.reset {
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: rgb(36, 0, 128);
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.756);

}
/* the result */
.result{
	margin-top: 20px;
	font-size: 1.2rem;
}

/* screen size handling */
@media screen and (max-width: 612px)
{
	.title{
		text-align: center;
	}
	.score{
		position: absolute;
		top: 150px;
		width: 100vw;
	}

    .roundsLeft{
        position: absolute;
        width: 100vw;
    }

	.options{
		width: 100vw;
	}
}